.right {
    float: right;
}

.navbar-custom {
    background-color: #000000;
    width: 50%;
}

.navbartext-custom {
    text-align: right;
}

body {
    background-image: url('images/fotou.jpeg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;

    background-color: #000000; /* d1d8ff colorcito piTcheL */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

back-img {
    opacity: 0;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* controls */
}