.right {
    float: right;
}

.navbar-custom {
    background-color: #000000;
    width: 50%;
}

.navbartext-custom {
    text-align: right;
}

body {
    background-image: url('images/fotou.jpeg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;

    background-color: #000000; /* d1d8ff colorcito piTcheL */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

back-img {
    opacity: 0;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-color {
    background-color: #4b66ef;
}

.transparent-button {
    color: #d1d8ff;
    background: none;
    border: none;
}

.centere {
    text-align: center;
    /* text-color: #d1d8ff; */
    color: #d1d8ff;
}

.navbar:hover {
    cursor: pointer;
}

.goToHome {
    display: flex;
    justify-content: flex-end;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.custom-card {
    color: #d1d8ff;
    background-color: #08070d;
}